$primary-normal: #06121E;
$primary-dark: #040f1a;
$primary-light: #0c2135;

$segundary-normal: #090d11;
$segundary-dark: #06090c;
$segundary-light: #1a1f25;

$black-normal: #232224;
$black-dark: #161617;
$black-light: #353436;

$white-normal: #fff;
$white-dark: #edeaef;
$white-light: #fefbff;

$red-normal: #BF7E06;
$red-dark: #593508;
$red-light: #8C520B;