*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

@import "partials/colors";
@import "partials/header";
@import "partials/layout";

body{
    font-family:sans-serif, Times 'Times New Roman';
    width: 100%;
    height: 100vh;
    position: relative;

    background-color: $primary-normal; 
}

button{
    font-family: sans-serif,'Times New Roman', Times, sans-serif;
    cursor: pointer;
}

svg{
    width: 100%;
}

img{
    width: 100%;
}

video{
    width: 100%;
}

a{
    cursor: pointer;
    text-decoration: none;
}